.container-total {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.barra-esquerda {
    display: flex;
    height: 640px;
    width: 25%;
    background-color: black;
    flex-direction: column;
    position: fixed;
    top: 0%;
}

.logo {
    display: flex;
    align-content: left;
    justify-items: column;
    color: white;
    font-family: 'Teko', sans-serif;
    font-size: 1.3em;
    margin-left: 40px;
}

.menu-lateral {
    font-family: 'Teko', sans-serif;
    font-size: 1.3em;
    color: white;
    text-decoration: none;
}

.menu-lateral-lista {
    list-style-type: none;
}

.redes-sociais {
    color: rgba(255, 255, 255, 1);
    margin-bottom: 30px;
    margin-left: 40px;
}

.redes-sociais.md-inactive { 
    color: rgba(255, 255, 255, 0.3);
}

.box-1 {
    background-color: blue;
    width: 30%;
    height: 500px;
    margin-left: 250px;
}

.box-2 {
    background-color:#fac08a;
    width: 25%;
    height: 500px;
}

.box-3 {
    background-color: #48b8e4;
    width: 20%;
    height: 250px;
}

.box-4 {
    background-color: #2f2f81;
    width: 20%;
    height: 250px;
    margin-left: 250px;
}