body {
  margin: 0 auto;
}

h2 {
  color: white;
  position: absolute;
  z-index: 10;
  margin: 2rem;
  font-family:'Teko';
  color: #FFF;
  text-shadow: #000 2px 2px 30px;
}

li {
  list-style-type: none;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px 10px;
  grid-template-areas:
    "sidebar-menu box1 box1 box2 box3"
    "sidebar-menu box1 box1 box2 box4"
    "sidebar-menu box5 box6 box6 box7"
    "sidebar-menu box5 box8 box9 box9"
    "sidebar-menu box10 box10 box11 box11"
    "sidebar-menu box10 box10 box11 box11";
}

.sidebar-menu { 
  grid-area: sidebar-menu; 
  background: #000;
  color: #F1F1EF;
  font-family: 'Teko';
  font-size: 1.5rem;
  height: 100%;
  width: 43vh;
  position: fixed;
  }

.logo-menu {
  grid-area: sidebar-menu;
  width: 150px;
  padding: 25px;
}

.sidebar-menu ul {
}

.social-icons img {
  width: 40px;
  height: 40px;
  z-index: 10;
}

.logo-github {
}

.logo-linkedin {
  color: #FFF;
}

.box1 { 
  grid-area: box1;
  background: darkblue;
  background: url(/src/img/brand-design.png) no-repeat center;
  height: 90vh;
}

.box2 { 
  grid-area: box2; 
  background: tan;  
  background: url(/src/img/logo-design.jpg) no-repeat center;
  background-size: contain;
}
.box3 { 
  grid-area: box3; 
  background:lightskyblue;
  background: url(/src/img/illustration-design.jpg);
  background-size: cover;

}

.box4 { 
  grid-area: box4;
  background:palevioletred;
  background: url(/src/img/packaging-design.jpg) no-repeat center;  
  background-size: cover;
}

.box5 { 
  grid-area: box5; 
  background: #FFEB08;
  background: url(/src/img/3d-illustration-design.jpg);  
  background-size: cover;
}

.box6 { 
  grid-area: box6; 
  background: #DF9913;
  background: url(/src/img/social-media-design.jpg) no-repeat center;
  background-size: cover;
}

.box7 { 
  grid-area: box7; 
  background: #F1F1EF;
  background: url(/src/img/website-design.jpg);
  background-size: cover;
}

.box8 { 
  grid-area: box8; 
  background: #F85C1F;
}

.box9 { 
  grid-area: box9; 
  background: #BAB9B5;
  background-size: contain;
}

.box10 { 
  grid-area: box10; 
  background: #03459C;
}

.box11 { 
  grid-area: box11; 
  background: #FD3372;
}

@media only screen and {max-width: 550px;
  .grid-container {
    grid-template-columns: 1fr;
  }
}